/* =====================
    Table of Contents
   =====================

   1- Left Section ==> Buttons
   2- Right Section ==> Card
   3. Responsive Design (media query)
*/

main.flex {
  gap: 1rem;
  align-items: start;
}

/* ================================
    1. Left Section ==> Buttons
=================================== */
main section.left-section.flex {
  flex-direction: column;
  gap: 10px;
  align-items: start;
}
main section.left-section.flex button {
  background-color: var(--bgbutton);
  width: 10rem;
  padding: 0.75rem 0;
  text-align: center;
  font-size: 1.05rem;
  text-transform: capitalize;
  opacity: 0.5;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
main section.left-section.flex button:hover {
  opacity: 1;
  cursor: pointer;
  background-color: var(--icon-hover);
  transform: translateX(5px);
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
}

main section.left-section.flex button.active {
  opacity: 1;
  font-weight: bold;
  letter-spacing: 0.6px;
  padding: 0.8rem 0;
  border: 1px solid #6574d6;
}

/* ================================
    2. Right Section ==> Card
=================================== */
main section.right-section.flex {
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 1.2rem;
  justify-content: center;
  flex-grow: 1;
}

.card {
  border: 0.5px solid #34408d;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border-radius: 5px;
  background-image: linear-gradient(
    rgba(84, 68, 173, 0.05),
    rgba(117, 125, 231, 0.137)
  );
}
.light .card {
  border: none;
  box-shadow: 3px 3px #52515127;
}
.light .card:hover {
  border: none;
  background-color: rgba(256, 256, 259);
}

.card:hover {
  border: 0.5px solid #192470;
  background-color: rgba(48, 58, 189, 0.192);

  border-radius: 5px;
  cursor: pointer;
  transform: translateX(3px);
  -webkit-transform: translateX(3px);
  -moz-transform: translateX(3px);
  -ms-transform: translateX(3px);
  -o-transform: translateX(3px);
}
.card img {
  border-radius: 5px;
}

.card .box {
  padding: 0.8rem 0.4rem;
}

.card .box .title {
  color: var(--title);
  text-transform: capitalize;
}

.card .box .sub-title {
  color: var(--subtitle);
  font-size: 0.8rem;
  margin-top: 0.6rem;
  margin-bottom: 1.1rem;
}

.card .box .icons {
  justify-content: center;
}

.card .icon-link,
.card .icon-github-square {
  color: var(--subtitle);
  font-size: 1.2rem;
  transition: 0.3s;
  margin: 10px;
}
.card .icon-link:hover,
.card .icon-github-square:hover {
  color: var(--icon-hover);
  cursor: pointer;
}

/* .card a.link {
  font-size: 0.8rem;
  color: var(--blue);
  margin-right: 10px;
}

.card a.link:hover {
  color: var(--icon-hover);
  cursor: pointer;
} */

/* =====================================
    3. Responsive Design (media query)
======================================== */
@media (max-width: 600px) {
  main.flex {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  main section.left-section.flex {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  main section.left-section.flex button {
    width: 7rem;
    padding: 0.8rem 0;
    font-size: 0.9rem;
  }
}
